<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="'<%= title %>'" />
    <meta name="description" content="'<%= title %>'" />
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.7.0/css/zui.min.css">
    <link rel="stylesheet" href="./stylesheets/css/setting.css">
    <script src="./javascripts/zepto.js"></script>
    <script src="./javascripts/es6js/common.js"></script> 
    <link rel="canonical" href="http://m.itenbo.com/myword" />
    <style>
        .content{
            font-size: .14rem;
        }
        .content h2{
            text-align: center;
            margin-bottom: .2rem;
            margin-top: .2rem;
        }
        .content h2:last-child{
            margin-top: .2rem;
        }
        .content p{
            text-align: left;
            text-indent: 2em;
        }
        .content .intro{
            text-indent: 2em;
            text-align: left;
            padding: 0 .2rem;
        }
    </style>
</head>
<body>
    <div class='goback' style='height:.5rem;line-height:.5rem;;width:100%;border-bottom:.01rem solid #E3E3E3;color:#424242;background:#fff;text-align:center;font-size:.18rem;position:fixed;top:0;left:0;z-index:8'><i style='display:inline-block;height:100%;width:.4rem;position:absolute;left:0;background:url(../../images/goback.png) no-repeat center;background-size:.2rem .2rem;'></i>关于腾博</div>
    <div style="height:.5rem;"></div>
    <div class="setting-content">
        <header class="header"></header>
        <div class="content">
            <p class="intro">腾博智慧云商股份有限公司成立于2015年1月26日，是一家专注互联网商事服务的公司。总部位于深圳市福田中心区平安金融中心70层3-5单元，分部位于深圳前海自贸区万科企业公馆25栋，坐拥福田中心区、前海自贸区两大核心商务区。致力于为全球高端客户提供最具成长价值的智能商事服务，响应高端商务群体与企业客户的需求，提供全球化、一站式解决方案，其中包括：全球战略布局、综合商务服务、共享办公空间、环球金融、全球名人直播社区等服务功能，旨在打造全球性、多元化、高端商务智能与金融全产业链综合应用平台。
                    
                    过往10年间，我们已成功为数以万计的客户提供企业价值创新、成长运营、革新发展等全方位服务，并受到广泛赞誉，其中包括世界500强中的大多数以及全区最具创新能力的企业。未来10年，我们将成功实现为数亿级用户，提供更全面的智能服务体验。</p>
                <h2>深圳总部地址</h2>
                
                <p>地址：深圳市福田区平安国际金融中心70层</p>
                
                <p>热线：86-755-8898 8989</p>
                
                <p>传真：86-755-3397 5668</p>
                
                <p>全国统一热线：4006-788-989</p>
                
                 
                <h2>前海分部地址</h2>
                
                <p>地址：深圳市前海企业公馆25栋B区2楼整层</p>
                
                <p>热线：86-755-8898 8989</p>
                
                <p>传真：86-755-3397 5668</p>
        <!-- <a class="btn btn-info sendreq" style="font-size:.14rem;" href="javascript:void(0)">微信支付</a> -->
        </div>
    </div>
    <div style="margin-top:-.15rem;height:.15rem;background:#fff">
    </div>
    <script src="./javascripts/es6js/home/aboutTB.js"></script>
    <!--<script src="./javascripts/es6js/home/wxpaydemo.js"></script>-->
    <script src="./javascripts/baidu.js"></script>
</body>
</html>