<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="'<%= title %>'" />
    <meta name="description" content="'<%= title %>'" />
    <link rel="stylesheet" href="//cdn.bootcss.com/zui/1.7.0/css/zui.min.css">
    <link rel="stylesheet" href="./stylesheets/css/setting.css">
    <script src="./javascripts/zepto.js"></script>
    <script src="./javascripts/httpConfig2.js"></script>
    <script src="./javascripts/es6js/common.js"></script> 
    <link rel="canonical" href="http://m.itenbo.com/myword" />
</head>
<body>
    <div class='goback' style='height:.5rem;line-height:.5rem;;width:100%;border-bottom:.01rem solid #E3E3E3;color:#424242;background:#fff;text-align:center;font-size:.18rem;position:fixed;top:0;left:0;z-index:8'><i style='display:inline-block;height:100%;width:.4rem;position:absolute;left:0;background:url(../../images/goback.png) no-repeat center;background-size:.2rem .2rem;'></i>修改密码</div>
    <div style="height:.5rem;"></div>
    <div class="setting-content">
        <div class="line3">
            <input type="text" class="password"  name="" value="" placeholder="原密码" />
        </div>
        <div class="line3">
            <input type="password" class="newpassword" name="" value="" placeholder="新密码" />
            <em>不能为纯数字，长度为6-20位</em>
        </div>
        <div class="line3">
            <input type="password" class="newpassword1" name="" value="" placeholder="重复密码" />
        </div>
        <div class="submit">提交修改</div>
    </div>
    <script src="./javascripts/es6js/home/resetPassword.js"></script>
    <script src="./javascripts/baidu.js"></script>
</body>
</html>    