{% include 'header.html' %}
<div class="banner"></div>
<div class="main">
  <div class="about-con">
    <div class="section">
        <div class="title">
            公司介绍
        </div>
        <div class="fleft fl">
            <img src="./img/movie4.jpg"/>
            <!-- <video width="540" height="320" src="./movie/movie.mp4" preload="auto" controls loop style="background-color:rgb(0,0,0);">
                <source src="./movie/movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                您的浏览器不支持 video 标签,请使用IE9以上浏览器。
            </video> -->
            </div>
            <div class="fright fr">
            <div class="introduce">
                <p class="company-name">博影世纪影业有限公司</p>
                <p class="company-intro">博影世纪影业有限公司是一家独立经营以大电影为主的文化传媒发展企业。
                        博影世纪影业有限公司致力于文化及影视传媒的开发传播及衍生服务的开发、项目合作，传承品牌文化。时时关注相关行业政策和社会行业的发展动向，传播发展中华民族的传统文化，开发传播民间民俗文化，塑造传奇的民族文化品牌，组织策划各种文化艺术交流活动。在市场方面，以敏锐的市场洞察、高效的整合策略、诚信的商业品格、严谨的执行实力，为客户提供多个层面的相关专业服务。</p>
            </div>
        </div>
    </div>
    <div class="section" style="margin-bottom:50px;overflow:unset;">
        <div class="title">
            我们的团队
        </div>
        <div>
            <div class="boss">
                <div class="tcon">
                    <div class="head">
                        <span class="name">朱连根</span><span class="job">创始人/总制片人</span>
                    </div>
                    <div class="intro">
                        深圳市人大常务委员会经济工委委员<br/>
                        深圳市商业联合会副会长<br/>
                        深圳市中小企业公共服务联盟副主席<br/><br/>
                        现任<br/>
                        腾博控股有限公司<br/>
                        博影世纪影业有限公司<br/>
                        董事长/总经理
                    </div>
                </div>
            </div>
            <div class="director">
                <div class="tcon">
                    <div class="head">
                        <span class="name">谭 磊</span><span class="job">导演/制片人</span>
                    </div>
                    <div class="intro">
                        十余年从业经验，经历多年影视及艺术的熏陶，成熟的执导技巧和娴熟的后期指导执行思路，使其对视觉性的影像处理越来越具个人风格，形成自己一套独特的视觉传达体系。
                    </div>
                </div>
            </div>
            <div class="intro">
                <div class="ilist intro-text">
                    <p class="title">博达天下，影传四海</p>
                    <p class="content">坚持“以文化引领生活”的博影世纪影业团队，始终以饱满的创作热情，敏锐洞察生活中每一个闪亮瞬间，用风格迥异的多元化创作，为你的品牌点亮梦未来。</p>
                </div>
                <div class="ilist">
                    <img src="./img/about1.jpg" width="284" height="274"/>
                </div>
                <div class="ilist">
                    <div class="pb5">
                        <img src="./img/about2.jpg"/>
                    </div>
                    <div>
                        <img src="./img/about3.jpg"/>
                    </div>
                </div>
                <div class="ilist">
                    <div class="pb5">
                        <img src="./img/about4.jpg"/>
                    </div>
                    <div>
                        <img src="./img/about5.jpg"/>
                    </div>
                </div>
                <div class="ilist">
                    <img src="./img/about6.jpg"/>
                </div>
            </div>
            <div class="clb"></div>
        </div>
    </div>
    <div class="section">
        <div class="title">
            荣誉资质
        </div>
        <div class="intelligence">
            <img src="./img/intelligence.jpg"/>
        </div>
    </div>
    <div class="section">
        <div class="title">
            联系我们
        </div>
        <div class="concat">
            <div class="simg">
                <img src="./img/company.jpg"/>
            </div>
            <div class="concat-addr">
                <p class="mobile">755-8898 8989</p>
                <p class="fax">755-3397 5668</p>
                <p class="email">3264706745@QQ.COM</p>
                <p class="address">总部：深圳市福田中心区平安金融中心70层<br/>分部：深圳市前海万科企业公馆25栋B区2楼</p>
            </div>
            <div class="clb"></div>
        </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}