<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keyword" content="腾博国际 博影首页 博影官网 电影拍摄 电影制作 博影世纪影业有限公司">
    <meta name="description" content="博影世纪影业有限公司成立于2015年由一支专业文化创意团队组成以“博达天下，影传四海”为宗旨，以“文化引领生活”为态度是实现创新意识强，市场占有率高适应网络经济时代需求的影视文化发展企业主营包括 影视项目开发、影视广告创作、微电影创作、二维/三维动画制作、纪录片拍摄、MV制作、宣传片制作、平面设计制作、品牌形象设计、活动策划、品牌营销策略规划等业务横跨各个领域。">
    {% if base %}
    <title>博影-{{base.title}}</title>
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
    <link href="./plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="./css/common.css" rel="stylesheet"> -->
    <link href="./css/{{base.self}}.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
      <div class="header">
          <div class="navbar navbar-default nocolor" role="navigation">
              <div class="navbar-header">
                 　<!-- .navbar-toggle样式用于toggle收缩的内容，即nav-collapse collapse样式所在元素 -->
                   <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                     <span class="sr-only">导航菜单</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                   </button>
              </div>
              <!-- 屏幕宽度小于768px时，div.navbar-responsive-collapse容器里的内容都会隐藏，显示icon-bar图标，当点击icon-bar图标时，再展开。屏幕大于768px时，默认显示。 -->
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="nav-center">
                  <ul class="nav navbar-nav">
                      <li class="hnav"><a href="/">首页</a></li>
                      <li class="snav"><a href="/service.html">服务</a></li>
                      <li class="cnav"><a href="/cases.html">案例</a></li>
                      <li><a href="javascript:void(0);" style="position:relative;top: -2px;"><img src="./img/logo2.png"/></a></li>
                      <li class="nnav"><a href="/news.html">行业资讯</a></li>
                      <li class="anav"><a href="/about.html">关于我们</a></li>
                 </ul>
                </div>
              </div>
          </div>
      </div>
      {% endif %}