*{
    padding: 0;
    margin: 0;
}
.clear-both{
    clear: both;
}
.h32r{
    height: 0.32rem;
}
.dsn{
    display: none!important;
}
.share{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 10;
}
#marsk{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}
/*loading加载动画样式*/
.mask-loading {
    position: fixed;
    top:0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    /* opacity:0.5; */
}
.spinner {
    /* margin: 100px auto; */
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    top:calc(50% - 80px / 2);
    left:calc(50% - 80px / 2);
    font-size: 18px;
    color:#fff;
}

.tips{
    text-align: center;
    position: fixed;
    bottom: 20px;
    left: 10%;
    width: 80%;
    z-index: 8;
}
.tips span{
    background-color: #000;
    border:1px solid #000;
    padding: 0.2rem;
    border-radius: 0.1rem;
    font-size: 0.3rem;
    color: #fff;
    border:1px solid#484848;
}

.container1 > div, .container2 > div, .container3 > div {
    width: 6px;
    height: 6px;
    background-color: #fff;

    border-radius: 100%;
    position: absolute;
    -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
    animation: bouncedelay 1.2s infinite ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .spinner-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.container3 {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}

.circle1 {
    top: 0;
    left: 0;
}

.circle2 {
    top: 0;
    right: 0;
}

.circle3 {
    right: 0;
    bottom: 0;
}

.circle4 {
    left: 0;
    bottom: 0;
}

.container2 .circle1 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.container3 .circle1 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.container1 .circle2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.container2 .circle2 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.container3 .circle2 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.container1 .circle3 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.container2 .circle3 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.container3 .circle3 {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.container1 .circle4 {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.container2 .circle4 {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.container3 .circle4 {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.5);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(2.0);
    }
}
/* -------------------------------------------------- */