body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased
}

body:hover,
div:hover,
span:hover,
header:hover,
footer:hover,
nav:hover,
section:hover,
aside:hover,
article:hover,
ul:hover,
dl:hover,
dt:hover,
dd:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
i:hover,
b:hover,
textarea:hover,
button:hover,
input:hover,
select:hover,
figure:hover,
figcaption:hover {
    outline: none
}

html {
    font-size: 90px;
    font-size: calc(100vw/3.75);
    font-family: STHeiti, Microsoft YaHei SimHei, arial, verdana;
    height: 100%
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: #F5F5F5
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px transparent;
    border-radius: 10px;
    background-color: #F5F5F5
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555
}

input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
    -webkit-appearance: none
}

textarea {
    -webkit-appearance: none
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #F5F5F5
}

.clear:after {
    content: '';
    display: block;
    clear: both
}

.clear {
    zoom: 1
}

.back_img {
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.margin {
    margin: 0 auto
}

.left {
    float: left
}

.right {
    float: right
}

.hide {
    display: none
}

.show {
    display: block
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.paddingTop {
    padding-top: 1.95rem
}

header {
    width: 100%;
    text-align: center;
    height: .5rem;
    display: block;
    position: relative;
    z-index: 0;
    width: 100%;
    text-align: center;
    height: .5rem;
    display: block;
    position: relative;
    z-index: 0;
    background-color: #fff;
    background-image: url("../../images/Slice Copy 11@2x.png");
    background-size: 1.67rem .3rem;
    background-repeat: no-repeat;
    background-position: center;
}

header i {
    display: block;
    height: .24rem;
    width: .24rem;
    background-image: url("../../images/Slice 2@2x.png");
    background-size: .24rem .24rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .15rem;
    margin-top: .13rem;
    float: right;
}

.title-wrapper {
    background: rgb(248, 248, 248);
    font-size: 0;
}

.title-wrapper .title-content {
    display: flex;
    height: .38rem;
    line-height: .38rem;
    text-align: center;
    border-top: .01rem solid rgb(227, 227, 227);
    width: 100%;
    background: #fff;
    font-size: 0;
}

.title-wrapper .title-content .title-item {
    flex: 1;
    font-size: .12rem;
}

.title-wrapper .title-content .title-item.active {
    font-weight: 700;
    color: #f00;
}


/* .title-wrapper .title-content .title-item.active i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: .01rem;
    background: #f00;
} */

.title-wrapper .banner {
    display: none;
}

.title-wrapper .banner-image {
    width: 100%;
    height: 1.4rem;
    background: url('../../images/serve@2x.png') no-repeat;
    background-size: cover;
}

.serve-wrapper {
    display: none;
    background: rgb(248, 248, 248);
    padding-bottom: .5rem;
    font-size: 0;
}

.serve-wrapper .serve-content {
    background: #fff;
    margin-top: .12rem;
    /* padding: .06rem .15rem 0; */
}

.serve-wrapper .serve-content h4 {
    color: rgb(92, 92, 92);
    font-weight: 700;
    font-size: .12rem;
    padding: .12rem;
}


/* .serve-wrapper .serve-content .small-item {
    padding: .2rem 0;
} */

.serve-wrapper .serve-content .small-item .item-line {
    /* line-height: .4rem; */
}

.serve-wrapper .serve-content .small-item .item-line a {
    display: inline-block;
    color: rgb(51, 51, 51);
    vertical-align: middle;
    font-size: .12rem;
}

.serve-wrapper .serve-content .small-item .item-line span {
    text-align: center;
}

.serve-wrapper .serve-content .small-item .item-line span img {
    width: .32rem;
    height: .32rem;
    /* margin-top: .05rem; */
    display: block;
    margin: .08rem auto;
    margin-top: .1rem;
}

.serve-wrapper .serve-content .small-item .item-line span a {
    line-height: 1.5;
    vertical-align: top;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: .2rem;
    margin: 0 auto;
}

.serve-wrapper .serve-content .small-item .item-line span:nth-child(1) {
    width: 33.33%;
    height: .8rem;
    border: 1px solid #E6E6E6;
    display: inline-block;
    border-left: 0;
    border-right: 0;
}

.serve-wrapper .serve-content .small-item .item-line span:nth-child(2) {
    width: 33.33%;
    height: .8rem;
    display: inline-block;
    border: 1px solid #E6E6E6;
    border-right: 0;
}

.serve-wrapper .serve-content .small-item .item-line span:nth-child(3) {
    width: 33.33%;
    height: .8rem;
    display: inline-block;
    border: 1px solid #E6E6E6;
    border-right: 0;
}


/* .serve-wrapper .serve-content .small-item .item-line span:nth-child(4) {
    width: 25%;
    height: .8rem;
    display: inline-block;
    border: 1px solid #E6E6E6;
    border-right: 0;
} */


/* .serve-wrapper .serve-content .small-item .item-line a:nth-child(4n) i {
    display: none;
}

.serve-wrapper .serve-content .small-item .item-line a:last-child i {
    display: none;
} */

.serve-wrapper .serve-content .small-item .item-line a i {
    display: inline-block;
    width: .01rem;
    height: .1rem;
    background: rgb(51, 51, 51);
    margin: 0 .16rem;
    vertical-align: baseline;
    margin-left: 0.36rem;
}

.serve-wrapper:nth-of-type(1) {
    display: block;
}

.msgeSave {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: rgba(0, 0, 0, .6);
}

.saveBody {
    width: 3.2rem;
    height: 3rem;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -1.6rem;
    margin-top: -1.5rem;
}

.saveBody .top {
    width: 3.2rem;
    height: .475rem;
    display: block;
    margin: 0 auto;
}

.saveBody .top img {
    width: .21rem;
    height: .5rem;
    display: block;
    margin: 0 auto;
    float: right;
    margin-right: .45rem;
}

.saveBody .btn {
    width: 3.2rem;
    height: 2.525rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    font-size: 0;
}

.saveBody .btn h3 {
    font-size: .16rem;
    text-align: center;
    display: inline-block;
    line-height: .38rem;
    color: #333333;
    width: 100%;
    vertical-align: top;
}

.btnspan {}

.saveBody .btn span {
    width: 2.35rem;
    height: .4rem;
    display: block;
    border: 1px solid #acacac;
    margin: 0 auto;
    margin-bottom: .15rem;
    position: relative;
    z-index: 1
}

.btn span input {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    text-indent: .1rem;
    background: none;
}

.btn .btnSavePhone {
    width: 2.35rem;
    height: .4rem;
    display: block;
    font-size: .18rem;
    text-align: center;
    line-height: .4rem;
    background-color: #CE281F;
    color: #fff;
    border-radius: 8px;
    margin: 0 auto;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: .5rem;
    position: fixed;
    z-index: 10;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    background-color: #F5F5F5
}

footer div {
    width: 25%;
    display: block;
    font-size: 0;
    text-align: center
}

footer div span {
    display: block;
    width: .2rem;
    height: .2rem;
    margin: .08rem auto .02rem auto;
    background-size: .2rem .2rem;
    background-repeat: no-repeat;
    background-position: center
}

footer div i {
    display: inline-block;
    width: .5rem;
    height: .5rem;
    margin: .08rem auto .02rem auto;
    background-size: .4rem .4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../images/call.png);
    position: absolute;
    top: -.26rem;
    left: 50%;
    margin-left: -.25rem;
    overflow: auto;
}

footer div:nth-child(1) span {
    background-image: url("../../images/Slice Copy 21@2x.png")
}

footer div:nth-child(2) span {
    background-image: url("../../images/Slice Copy 22@2x.png")
}

footer div:nth-child(4) span {
    background-image: url("../../images/Slice Copy 24@2x.png")
}

footer div:nth-child(5) span {
    background-image: url("../../images/callback.png")
}

footer div a {
    font-size: .09rem;
    color: #9b9b9b
}

footer div.active:nth-child(1) span {
    background-image: url("../../images/Slice Copy 20@2x.png")
}

footer div.active:nth-child(2) span {
    background-image: url("../../images/Slice Copy 23@2x.png")
}

footer div.active:nth-child(4) span {
    background-image: url("../../images/Slice Copy 25@2x.png")
}

footer div.active:nth-child(5) span {
    background-image: url("../../images/callq.png")
}

footer div.active a {
    color: #DB3639
}

.headNews {
    position: fixed;
    z-index: 8;
    background-color: #fff;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
}

.newssb {
    padding: 0 .15rem;
    background-color: #fff;
}

.newssb .h2s {
    font-size: .12rem;
    color: #333;
    font-weight: bold;
    padding: 0.1rem 0
}

.newssb .tpItem {
    height: .76rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0
}

.newssb .tpItem a {
    width: 1.2rem;
    height: .76rem;
    font-size: 0
}

.newssb .tpItem .imgs {
    height: .76rem;
    display: block;
    margin-right: .17rem;
    background-size: 1.2rem .76rem;
    background-repeat: no-repeat;
    background-position: center
}

.newssb .tpItem .rgts {
    flex: 1;
    position: relative;
    z-index: 0
}

.newssb .rgts h3 {
    font-size: .14rem;
    color: #333;
    width: 2.25rem
}

.newssb hr {
    border: 0;
    background-color: #ECECEC;
    height: 1px;
    margin: .1rem 0
}

.newssb .newItem h3 {
    font-size: .14rem;
    color: #333
}

.newssb .btnspt,
.newssb .nit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 0;
    justify-content: space-between;
    margin-top: .1rem
}

.newssb .btnspt div:first-of-type i,
.newssb .nit div:first-of-type i {
    font-size: .09rem;
    color: #9b9b9b;
    display: inline-block;
    margin-left: 5px
}

.newssb .btnspt div:first-of-type span,
.newssb .nit div:first-of-type span {
    font-size: .10rem;
    color: #ff0000;
    display: inline-block;
    padding: 1px 4px;
    border: 1px solid #ff0000
}

.newssb .btnspt div:last-of-type i,
.newssb .nit div:last-of-type i {
    background-image: url("../../images/Slice Copy 19@2x.png");
    background-size: .12rem .12rem;
    background-repeat: no-repeat;
    background-position: center;
    width: .12rem;
    height: .12rem;
    display: inline-block;
    vertical-align: sub;
    margin-right: 5px
}

.newssb .btnspt div:last-of-type span,
.newssb .nit div:last-of-type span {
    font-size: .12rem;
    color: #B6B6B6;
    display: inline-block
}

.newssb .btnspt {
    margin-top: .17rem;
    position: absolute;
    width: 100%;
    bottom: 0
}

.searchs {
    display: none;
    background-color: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: .5rem;
    z-index: 9;
    overflow: hidden;
    overflow-y: auto;
}

.noheader {
    background-image: none;
    display: flex;
    position: relative;
    z-index: 10;
}

.header span {
    width: 3.25rem;
    display: block;
    margin: 0;
    height: .5rem;
    line-height: 1;
    flex: 1;
    display: none;
}

.header em {
    font-size: .12rem;
    list-style: none;
    font-style: normal;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    display: none;
}

.header span input {
    display: block;
    width: 3.1rem;
    height: .3rem;
    margin-left: .15rem;
    margin-top: .1rem;
    background-color: #F6F6F6;
    text-indent: .1rem;
}

.searchs h3 {
    font-size: .14rem;
    background-color: #f6f6f6;
    border-top: 1px solid #E5E5E5;
    height: .35rem;
    line-height: .35rem;
    padding-left: .15rem;
    position: relative;
    z-index: 9;
}

.searchs ul,
.searchs .itemMain {
    position: absolute;
    width: 100%;
    top: 0;
    padding-top: .85rem;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.searchs ul li {
    font-size: .14rem;
    display: block;
    height: .4rem;
    padding-left: .15rem;
    line-height: .4rem;
}

.searchs .items {
    font-size: 0;
    background-color: #f6f6f6;
    margin: .15rem;
    padding: .15rem;
}

.searchs .items h2 {
    font-size: .16rem;
    font-weight: 700;
    display: inline-block;
    clear: both;
}

.searchs .items span {
    font-size: .1rem;
    line-height: 1;
    margin-top: .1rem;
    display: inline-block;
    color: #8A8A8A;
}

.searchs .items em {
    color: #D61D20;
    font-size: .16rem;
    font-style: normal;
    font-weight: 700;
    float: right;
    display: inline-block;
    vertical-align: top;
    clear: both;
    margin-top: .1rem;
}

.serve-wrapper .serve-content .small-item .item-line a:nth-child(1) {
    padding: 0;
}

.serve-wrapper .serve-content .small-item .item-line a:nth-child(2) {
    padding: 0;
}

.serve-wrapper .serve-content .small-item .item-line a:nth-child(3) {
    padding: 0;
}

.serve-wrapper .serve-content .small-item .item-line a {
    padding: 0.16rem;
}