html {
    font-size: 90px;
    font-size: calc(100vw/3.75);
    font-family: Microsoft YaHei SimHei, STHeiti, arial, verdana;
    /*font-size: 0.16%;*/
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-image: url('../image/backgro.jpg');
}

body {
    max-width: 750px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, Microsoft YaHei, STXihei, STHeiti Light;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

i,
em {
    font-style: normal;
}

section {
    display: block;
}


/*    Hong Kong ZhuHai Macao bridge  */

.wrapper {
    width: 100%;
    background: url('../image/background-image.jpg') repeat-y;
}

.width1 {
    width: 100%;
}

.width1 img {
    display: block;
    width: 100%;
}

.width3 {
    width: 100%;
    height: 1.74rem;
    padding-top: .2rem;
    background: url('../image/interface_02.jpg') no-repeat;
    background-position: center;
    background-size: contain;
    /* border: .06rem solid #9c17e8;
    margin: 0 .14rem; */
}

.width3 .wContent {
    width: 3.18rem;
    margin: 0 auto;
    border: .01rem solid #D0D0D0;
    font-size: 0;
}

.wContent h3 {
    background: #9c17e8;
    margin: 0 -.01rem;
    text-indent: .1rem;
    color: #fff;
    font-size: .14rem;
}

.wContent .scroll-wrapper {
    position: relative;
    padding: .2rem 0 0 .1rem;
    height: 1.2rem;
    line-height: .1rem;
    overflow: hidden;
    font-size: .1rem;
    color: #333333;
}

.wContent .scroll-content {
    position: absolute;
    -webkit-font-smoothing: antialiased;
    transition: all .8s .1s;
}

.wContent .scroll-wrapper span {
    display: block;
    margin: 0 auto;
    line-height: .2rem;
    font-size: .1rem;
    color: #333333;
}

.wContent .scroll-wrapper span .circle {
    display: inline-block;
    height: .09rem;
    width: .09rem;
    line-height: normal;
    margin-right: .05rem;
    border-radius: 50%;
    background: #9c17e8;
}

.wContent .scroll-wrapper span .colorR {
    color: #F00;
}

.ban01,
.ban02,
.ban03,
.ban04 {
    /* width: 100%; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.ban01 {
    background-image: url('../image/ban01.jpg');
    height: 1.3rem;
}

.ban02 {
    background-image: url('../image/ban02.jpg');
    height: .985rem;
}

.ban03 {
    background-image: url('../image/ban03.png');
    height: 1.225rem;
}

.ban03 p {
    font-size: .12rem;
    text-align: center;
    color: #212020;
    padding: .4rem .2rem 0 .2rem;
    text-indent: 2em;
    line-height: 1.5;
}

.titles {
    height: .34rem;
    width: 100%;
    margin-top: .2rem;
}

.titles span {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../image/backtitle.png');
    width: 3.075rem;
    height: .34rem;
    line-height: .34rem;
    font-size: .15rem;
    text-align: center;
    color: #fff;
    display: block;
    margin: .2rem auto;
}

.imgs img {
    width: 3.435rem;
    margin: 0 auto;
    display: block;
    padding-bottom: .15rem;
}

.servics {
    margin-top: .25rem;
}

.servics img {
    padding: 0;
}

.fjs {}

.fjs img {
    display: block;
    width: 3.425rem;
    height: 1.965rem;
    margin: .25rem auto .4rem auto;
}

.btnds {
    margin-bottom: .3rem;
}

.btnds .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto .165rem auto;
}

.item div {
    width: 1.12rem;
    height: 1.345rem;
    display: block;
    font-size: 0;
    background-color: #DCDCDC;
}

.item .acts {
    background-color: #BC0008;
}

.item .acts h3 {
    color: #fff;
}

.item:first-of-type {
    margin-top: .165rem;
}

.item div:nth-child(2) {
    margin: 0 .11rem;
}

.item div img {
    width: .61rem;
    height: .61rem;
    margin: .1rem auto 0 auto;
}

.item div h3 {
    font-size: .1rem;
    color: #242323;
    font-weight: bold;
    margin: .02rem auto;
}

.item div span {
    font-size: .08rem;
    color: #fff;
    width: .6rem;
    height: .17rem;
    text-align: center;
    line-height: .17rem;
    margin: 0 auto;
    display: block;
    border: 1px solid #fff;
}

.item div p {
    font-size: .09rem;
    color: #373737;
    font-weight: 100;
}

.item div p i {
    font-size: .09rem;
    color: #df0009;
    font-weight: bold;
}


/*                  */

.flexds {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    position: fixed;
    height: .5rem;
    width: 100%;
    bottom: 0;
    z-index: 3;
    justify-content: space-between;
}

.flexds span,
.flexds a {
    width: 50%;
    display: inline-block;
    background-color: #E3382E;
    color: #fff;
    font-size: .14rem;
    line-height: .5rem;
    text-align: center;
}

.flexds span {
    background-color: #CF281E;
}

.msgeSave {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: rgba(0, 0, 0, .6);
}

.saveBody {
    width: 3.2rem;
    height: 3rem;
    margin: 0 auto;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: -1.6rem;
    margin-top: -1.5rem;
}

.saveBody .top {
    width: 3.2rem;
    height: .475rem;
    display: block;
    margin: 0 auto;
}

.saveBody .top img {
    width: .21rem;
    height: .5rem;
    display: block;
    margin: 0 auto;
    float: right;
    margin-right: .45rem;
}

.saveBody .btn {
    width: 3.2rem;
    height: 2.525rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    font-size: 0;
}

.saveBody .btn h3 {
    font-size: .16rem;
    text-align: center;
    display: inline-block;
    line-height: .48rem;
    color: #333333;
    width: 100%;
    vertical-align: top;
}

.btnspan {}

.saveBody .btn span {
    width: 2.35rem;
    height: .4rem;
    display: block;
    border: 1px solid #acacac;
    margin: 0 auto;
    margin-bottom: .15rem;
}

.btn span input {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    text-indent: .1rem;
    background: none;
}

.btn .btnSavePhone {
    width: 2.35rem;
    height: .4rem;
    display: block;
    font-size: .18rem;
    text-align: center;
    line-height: .4rem;
    background-color: #CE281F;
    color: #fff;
    border-radius: 8px;
    margin: 0 auto;
}